<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" media="screen and (max-width:960px)" href='xxx.css' />
	<title></title>
	<style type="text/css">
		.parent{display:flex;flex-direction:column;}
		.top{height:100px;}
		.bottom{height:50px;}
		.middle{flex:1;display:flex;}
		.left{width:200px;}
		.right{flex:1;overflow:auto;}
	</style>
</head>
<body>
<div class="parent">
<div class="top">top</div>
<div class="middle">
<div class="left">left</div>
<div class="right">right</div>
</div>
<div class="bottom">bottom</div>
</div>
</body>
</html>